body{
    background-color: yellow;
}
#dog{
    position: fixed;
    bottom: 2rem;
    left: 5rem;
}
#dog.hover{
    color: brown;
    

}
h1{
    font-size: 5rem;
    text-align: center;
    position: 0rem;
    animation: mylide;
    animation-iteration-count: infinity;
    animation-duration: 1s;
}
#p1{
    font-size: 2rem;
    text-align: center;
}
/*
#p2{
    position: fixed;
    bottom: 1.7rem;
    left: 5rem;
    border: 2px;
    height: 5.5rem;
    width: 16rem;
    border-style: groove;
    border-width: 0.5rem;
}
    */



#b1{
    cursor: pointer;
    background-color: brown;
    border-color: rgb(130, 43, 43);
    height: 5rem;
    width: 10rem;
    position: relative;

    animation: mySlide infinite;
    animation-iteration-count: infinity;
    animation-duration: 2s;
    font-size: xxx-large;
    color: chocolate;

}
@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-right: 100%;}
   

}
@keyframes mylide{
    from{margin-top: -100%;}
    to{margin-top: 0%;}
}
